body {
    font-family: 'Open Sans', sans-serif;
}

#content {
    margin: 0rem 1rem;
}

#content input[readonly]{
    background-color:transparent;
    font-size: 1em;
}

legend {
    margin-top: 0.5em;
}
legend > span.small {
    font-size: 0.7em;
}
  