body {
    font-family: 'Open Sans', sans-serif;
}

#test-params {
    margin: 0rem 1rem;
}

#input-acl {
    height: 60%;
    min-height: 150px;
    background-repeat: no-repeat;
    background-image: url('/dl-sim/pic/icons/acl.png');
    background-position: right top;
}

#input-dacl {
    height: 30%;
    min-height: 50px;
    background-repeat: no-repeat;
    background-image: url('/dl-sim/pic/icons/dacl.png');
    background-position: right top;
}

#input-conf {
    height: 65vh;
    min-height: 300px;
}

#test-results>.test-result-item:not(:first-child),
#copy-results>.copy-txt:not(:first-child) {
    opacity: 0.50;
    /*transition: opacity 0.01s linear 0s;*/
}

#test-results>.test-result-item:not(:first-child):hover,
#copy-results>.copy-txt:not(:first-child):hover {
    opacity: 1;
}

.test-result-item {
    margin: 1em 1%;
    width: 98%;
    height: max-content;
}

.btn {
    margin: 0.5rem 0;
}

.result-bar {
    width: 100%;
    height: 2.25rem;
    color: white;
}

.result-bar>a {
    float: left;
    height: 100%;
    line-height: 2rem;
    text-indent: 0.25rem;
    overflow: hidden;
}

#copy-results {
    display: None;
    margin: 1rem;
}

.copy-txt {
    width: 100%;
    resize: none;
    overflow: auto;
}

.error {
    color: red;
    font-weight: 600;
    overflow: visible;
    ;
    margin: 0 1rem;
}

.coab-label {
    margin-top: 0.5em;
}

#aboutBox {
    padding: 0;
    margin: 0;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #ced4da;
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: #ced4da;
}

.test-result-slot-grid {
    display: inline-grid;
    grid-template-columns: auto auto;
    column-gap: 0.25em;
}

.test-result-slot-grid>div:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
}

.slot-icon {
    display: inline-block;
    position: relative;
}

.slot-icon img {
    height: 1.7em;
    z-index: 1;
}

.slot-icon.character img {
    height: 3em;
}

.slot-icon img.deco {
    height: 0.8em;
    position: absolute;
    display: inline-block;
    z-index: 2;
    top: 0.45em;
}

/* .slot-icon.coab.generic {
    position: relative;
    top: 0.02em;
    width: 1.5em;
    margin: 0.1em;
    border: 1px solid black;
    border-radius: 5%;
    padding: 0.3em;
} */

.stat-icon {
    margin-left: 0.5em;
    margin-right: 0.1em;
    height: 1.4em;
    width: 1.4em;
}

#affliction-resist>div>input:placeholder-shown {
    border: 1px solid #ced4da;
}

#affliction-resist>div>input {
    border: 1px solid black;
}

#input-coabs {
    display: inline-grid;
    grid-template-columns: auto auto;
}

#input-coabs-sword {
    grid-column-start: 1;
    grid-column-end: 3;
}

#input-coabs-other {
    grid-column-start: 1;
    grid-column-end: 3;
    border-left: initial !important;
}

#input-coabs>div {
    padding-bottom: 0.5em;
    justify-content: center;
    border-top: 1px solid #ced4da;
}

#input-coabs>div:nth-child(even) {
    border-left: 1px solid #ced4da;
    padding-left: 0.2em;
}

.leftpad-code {
    margin-left: 40px;
}

#commitsTitle>a {
    text-decoration: none;
}

.commit-entry {
    display: block;
    padding: 0em 0.5em 0.5em 0.5em;
}

.commit-entry:hover {
    background-color: #ced4da;
    text-decoration: none;
}

.commit-entry>span {
    color: black;
    font-size: 0.75em;
}

.commit-time {
    color: gray !important;
}

.result-slice {
    border-right: solid 1px white;
    background-color: darkslategray;
}

.c-attack,
.c-x {
    background-color: firebrick !important;
}

.c-fs,
.c-fs1,
.c-fs2,
.c-fs3,
.c-fs4 {
    background-color: darkred !important;
}

.c-s1 {
    background-color: mediumslateblue !important;
}

.c-s2 {
    background-color: cornflowerblue !important;
}

.c-s3 {
    background-color: darkcyan !important;
}

.c-s4 {
    background-color: cadetblue !important;
}

.c-team {
    background-color: seagreen !important;
}

.c-dx {
    background-color: blueviolet !important;
}

.c-ds1 {
    background-color: mediumpurple !important;
}

.c-dfs {
    background-color: purple !important;
}

.c-other {
    background-color: orange !important;
}